<li class="card text-center card-list" style="background-color:#faebd7">
	{{burger_name}}

	<button class="change-devoured btn btn-info btn-custom mx-auto mt-2" style="width: 50%" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}DEVOUR!{{else}}ORDER ANOTHER!{{/if}}
	</button>
</li>
